.projects {
  background: linear-gradient(180deg, #3f52fc 0%, #1c214e 53.65%, #10111c 100%);
  padding: 20px;
  text-align: center;
}

.projects > h1 {
  font-size: var(--larg-heading);
  color: white;
  margin-top: 5vh;
}
#projects {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  gap: 5vh;
  margin-top: 3vh;
  padding: 20px;
  min-height: 60vh;
}

.project_card {
  width: 30%;
  aspect-ratio: 1/1.5;
  background-color: var(--primary-color);
  background: #ffffff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35% 65%;
  overflow: hidden;
  height: auto;
  margin-right: auto;
}


.pr_card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  background-color: white;
  text-align: left;
  gap: 15px;
  overflow: scroll;
}

.pr_card-body::-webkit-scrollbar {
  display: none;
}

.pr_card-body h2 {
  font-weight: 400;
  line-height: 43px;
  font-size: clamp(0.4375rem, 0.1621rem + 1.3768vw, 1.625rem);
  border-bottom: 1px solid gray;
  width: 100%;
}

.pr_card-body p {
  color: gray;
  font-size: clamp(0.125rem, -0.1214rem + 1.2319vw, 1.1875rem);
}

.pr_card-body .technologies {
  font-weight: bold;
  color: black;
}

.demo_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btns-project {
  display: flex;
  margin-top: auto;
  gap: 10px;
}

.btns-project a {
  padding: 7px 14px;
  text-decoration: none;
  border-radius: 5px;
}


.btns-project a:first-of-type:is(:hover, :focus){
  color: var(--primary-color);
  border-color: var(--primary-color);
  outline-color: var(--primary-color);
  font-weight: 410;
}
.btns-project a:first-of-type {
  background-color: white;
  border: 1px solid gray;
  color: gray;
}

.btns-project a:last-of-type {
  color: white;
  background-color: var(--primary-color);
}


.pr_card-head img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media all and (max-width: 1330px) {
  .project_card {
    aspect-ratio: 1/1.7;
  }
}
@media all and (max-width: 1120px) {
  .project_card {
    width: 45%;
    min-width: 320px;
    aspect-ratio: 1/1.5;
  }

  .pr_card-body p,
  .btns-project a {
    font-size: clamp(0.25rem, -0.0543rem + 1.5217vw, 1.5625rem);
  }
}

@media all and (max-width: 845px) {
  .project_card {
    width: 70%;
    aspect-ratio: 1/1.6;
    min-width: 300px;
  }

  .pr_card-body p,
  .btns-project a {
    font-size: clamp(0.5rem, 0.4101rem + 1.4493vw, 1.75rem);
  }
}

@media all and (max-width:682px) {
  .projects > h1{
    font-size: var(--small-heading);
  }
}

@media all and (max-width: 621px) {
  .project_card {
    width: 90%;
    aspect-ratio: 1/1.4;
    min-width: 220px;
  }

  #projects {
    padding: 0px;
  }
  .pr_card-body p,
  .btns-project a {
    font-size: clamp(0.625rem, 0.3062rem + 1.5942vw, 2rem);
  }

  .pr_card-body h2 {
    line-height: 29px;
    font-size: clamp(0.4375rem, 0.5621rem + 1.3768vw, 1.625rem);
  }
}

@media all and (max-width: 450px) {
  .project_card {
    width: 100%;
    aspect-ratio: 1/1.45;
    min-width: 220px;
  }

  .pr_card-body p,
  .btns-project a {
    font-size: clamp(0.625rem, 0.3062rem + 1.5942vw, 2rem);
  }
}

@media all and (max-width: 405px) {
  .project_card {
    aspect-ratio: 1/1.7;
  }

}

@media all and (max-width: 350px) {
  .projects {
    padding: 0;
  }
  #projects {
    padding: 5px;
  }
  .project_card {
    width: 100%;
    aspect-ratio: 1/1.5;
  }
}
