.main_auth-wrp{
  position: relative;
  grid-row: 1/3;
}
.J-popup-wrapper{
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.all-wrapper{
  width: 800px;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.all-wrapper-child{
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 28%);
  display: flex;
  overflow: hidden;
}


.jiji{
  flex-shrink: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 25px;
  color: white;
}

.jiji button{
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 7px 15px;
  border: 1px solid rgb(255, 255, 255);
}

/* .ask-login{
  background-color: rgb(55, 168, 2);
}


.ask-signup{
  background-color: rgb(255, 0, 157);
} */


.main-f-wrapper{
  height: 100%;
  width: 93%;
  position: absolute;
  top: 100%;
}



.J-forms-wrapper{
  width: 50%;
  height: 120%;
  background-color: white;
  position: absolute;
  top: -110%;
  overflow: hidden;
  transition: 0.6s all ease;
  transform: translateX(0%);
}

.J-forms-wrapper-zih {
  width: 50%;
  height: 120%;
  background-color: white;
  position: absolute;
  top: -110%;
  z-index: 2;
  overflow: hidden;
  transition: 0.6s all ease;
  transform: translateX(100%);
}

.left-right-wrapper{
  height: 100%;
  width: 200%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  transition: 0.7s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translate(0%);
}

.left-right-wrapper-zih{
  transition: 0.7s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translate(-50%);
}
.left-right-wrapper form {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center;
  width: 50%;
}


.left-right-wrapper form input{
  outline: none;
  width: 80%;
  border: 1px solid lightgray;
  padding: 12px 5px;
  font-size: 17px;
}

.ask-signup .jiji h3{
  width: 60%;
  text-align: center;
}

.left-right-wrapper form input:is(:focus){
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}

.left-right-wrapper form input:is(:focus)::placeholder{
  color: var(--accent-color);
}

.buttonn {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 2rem;
  font-size: 18px;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
}

.buttonn:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
}

.buttonn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(93, 98, 233) 10.8%,
    rgb(88, 148, 238) 94.3%
  );
  transition: all 0.475s;
}
.svg-wrapper-1{
  width: 50%;  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}

.svg-wrapper-1:nth-of-type(1) svg{
  overflow: visible;
  margin-top: 10%;
  margin-left: 40%;
  transform: rotate(343deg);
  transition: 0.7s all ease;
  transform-origin: 45%;
} 

.svg-wrapper-1:nth-of-type(2) svg {
  transition: 0.7s all ease;
  margin-left: -50%;
  transform: rotate(-360deg);
  transform-origin: 45%;
}

.svg-wrapper-12:nth-of-type(1) svg{
  transition: 0.7s all ease;
  transform: rotate(193deg);
} 

.svg-wrapper-12:nth-of-type(2) svg{
  transition: 0.7s all ease;
  transform: rotate(330deg);
} 

.svg-head {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 700px;
}



.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}