.contact_me-container h1{
  color: white;
}

.contact_me-container{
  display: flex;
  flex-direction: column;
  gap: 2vh;
 
}
.contact-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
}

.contact-form input {
  background-color: transparent;
  padding: 15px;
  border: 1px solid rgb(102, 102, 102);
  width: 100%;
  color: white;
  border-radius: 2px;
}

.contact-form .message{
  color: white;
}

.contact-form input:focus,
.contact-form .message:focus
{
  outline: none;
  border: 1px solid white;
}

.contact-form input:focus::placeholder,
.contact-form .message:focus::placeholder{
  color: white;
}
.contact-form .message {
  height: 100px;
  border: 1px solid rgb(102, 102, 102);
  display: flex;
  background: transparent;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  resize: none;
}

.form-sbmt {
  cursor: pointer;
  width: 30%;
  padding: 10px 15px;
  color: white;
  background-color: #3e3f46;
  outline: none;
  border: none;
  border-radius: 100px;
  transition: .2s all ease;
}

.form-sbmt:hover{
  background-color: var(--primary-color);
}

.pages-links_container{
  width: fit-content;
}

@media all and (max-width:1350px) {
  .contact-form{
    width: 300px;
  }
  .pages-links_container{
    width: 200px;
  }
}


@media all and (max-width:900px) {
  
  .contact-form {
    width: 500px;
    justify-content: center;
    align-items: center;
}

.contact_me-container h1{
  text-align: center;
}
.contact-form .message{
  width: 100%;
}
}


.glowing {
  animation: glowing 1s linear;
}


@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #ffffff;
  }
  20% {
    box-shadow: 0 0 15px #ffffff;
  }
  30% {
    box-shadow: 0 0 5px #ffffff;
  }
  50% {
    box-shadow: 0 0 5px #ffffff;
  }
  70% {
    box-shadow: 0 0 15px #ffffff;
  }
  90% {
    box-shadow: 0 0 5px #ffffff;
  }
  100%{
    box-shadow: 0 0 5px #ffffff;
    
  }
}


.butt{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.done-email{
  color: white;
  text-align: center;
  font-size: 15px;
  animation: foute .2s linear;

}

@keyframes foute {
  0%{
   scale: 0;
  }

  100%{
    scale: 1;
  }
}


.form-sbmt svg {
  width: 1.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 .form-sbmt svg circle {
  fill: none;
  stroke: hsl(0, 0%, 100%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 