.header-bg{
  background-color: white;
  box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.25);
}
.header{
  position: fixed;
  top: 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.header nav {
  font-size: var(--large);
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: var(--secondary-color);
}

.logo {
  display: grid;
  grid-template-columns: 90px 1fr;
  place-items: center;
  text-decoration: none;
}

.logo h1{
  margin: 0;
  color: var(--accent-color);
}
.header nav ul {
  align-items: center;
  display: flex;
  padding: 0;
  gap: 4vw;
  font-size: 17px;
}

nav ul li {
  cursor: pointer;
}

/* nav ul li a:is(:hover){
  color: var(--accent-color);
} */

nav a{
  text-decoration: none;
  color: black;
}

header a{
  height: fit-content;
  cursor: pointer;
}

header a:is(:hover){
  color: var(--accent-color);
  /* border-bottom: 2px solid var(--accent-color); */
}

.nav-menu,
.burger-menu{
  display: none;
}


.header .active{
  color: rgb(14 0 255);
}

.lgd-in-dropdown{
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius: 5px;
  min-width: 150px;
}

.drop_div {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 100%;
  left: 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);

}
.lgd-in-dropdown .name_p {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lgd-in-dropdown  .drop_div  p:hover
{
  background-color: var(--accent-color);
  color: white;
}

#for_backgound:hover{
  background-color: var(--accent-color);
  color: white;
}

.name_p:hover{
  color: var(--accent-color)!important;
  color: white;
}

.lgd-in-dropdown img {
  width: 49px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border: 2px solid var(--accent-color);
}
.drop_div a{
  display: block;
}

.drop_div p,
.drop_div a{
  padding: 10px;
}


.lg_in-phone{
  display: flex;
  gap: 10px;
  padding: 20px 35px;
  width: 300px;
}

.lg_in-phone i {
    font-size: 21px;
    height: 30px;
}
@media all and (max-width:1000px) {
  .logo {
    width: 100%;
    grid-template-columns: auto 1fr;
  }

  .logo img{
    padding-left: 10px;
  }

  .logo h1 {
    padding-right: 25px;
  }

  .header nav{
    width: 100%;
  }
  .header nav ul,
  .lgn,
  .lgd-in-dropdown{
    display: none;
  }

  .burger-menu{
    display: block;
    padding-right: 10px;
  }

  .nav-menu{
    background-color: rgb(255, 255, 255);
    position: fixed;
    
    height: 91dvh;
    width: 70%;
    max-width: 46vh;
    left: -100%;
    top: 5rem;
    z-index: 10;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nav-menu_body,
  .drp_dwn_phone{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }


  .drp_dwn_phone .name_img-wrp p {
    padding: 10px;
  }
  .name_img-wrp{
    display: flex;
    justify-content: flex-start;
    padding: 20px 35px;
    border-bottom: 1px solid lightgray;
    align-items: center;
  }

  .drp_dwn_phone{
    border-bottom: 1px solid lightgray;
  }
  .name_img-wrp img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
    flex-shrink: 0;
  }
  .nav-menu.active{
    left: 0;
  }
  .nav-menu_body a{
    padding:20px 35px;
    text-decoration: none;
  }

  .drp_dwn_phone p,
  .drp_dwn_phone a{
    padding:20px 35px;
  }
}

@media all and (max-width: 1000px) and (orientation: landscape) {
  .nav-menu{
    overflow: scroll;
    height: 80vh;
  }
}

.nav-menu_head{
  color: black;
  margin-top: 30px;
}
.drop{
  position: relative;
  height: 3rem;
  display: flex;
  align-items: center;
}
.down{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: -10rem;
  left: -5px;
  z-index: -1;
  transition: .3s all ease;
  width: calc(100% + 4vw);
  height: 10rem;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  animation: tonormal .3s ease;
  overflow: visible;
}

.down a{
  font-size: var(--medium);
  flex-grow: 1;
  display: flex;
  align-items: center;
  color: rgb(141, 141, 141);
  padding: 5px;
}

.down a:first-of-type{
  position: relative;
  overflow: visible;
}
.down a:first-of-type::before{
  content: '';
  position: absolute;
  background-color: var(--secondary-color);
  clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
  box-shadow: 0px 0px 19px rgba(0, 0, 0, .55);
  width: 18px;
  height: 18px;
  transform: rotate(135deg);
  z-index: -1;
  display: block;
  top: -10px;
  left: 7px;
  border: 1px solid rgba(0, 0, 0, .15);
}

.drop:hover .down{
  animation: index .3s ease;
  transform: translateY(13rem);
  z-index: 1;
}

@keyframes  tonormal{
  0%{
    z-index: 1;
  }

  23%{
    z-index: -1;
  }
  100%{
    z-index: -1;
  }
}
@keyframes index {
    0%{
      z-index: -1;
    }

    50%{
      z-index: -1;
    }
    80%{
      z-index: 1;
    }
    100%{
      z-index: 1;
    }
}

@media (max-width: 600px){
  .logo h1 {
    padding-right: 5px;
  }
}



@media (max-width: 300px){


  .name_img-wrp{
    flex-direction: column;
    text-align: center;
  }

  /* .logo{
   
  } */

  .logo img{
    width: 40px;
    object-fit: contain;
    height: 40px;
  }
  .logo h1{
    font-size: 13px;
  }
}


@media all and (max-width:200px) {
  .header{
    height: 23px;
  }

  #root{
    grid-template-rows: 23px minmax(90dvh, auto);
  }

  .burger-menu{
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger-menu svg {
    width: 17px;
    height: 17px;
  }

  .chatMessageInput{
    font-size: 5px;
    height: 30px!important;
    padding: 4px;
  }

  .chatMessageInput::placeholder{
    font-size: 5px;
  }
  .chatSubmitButton{
    height: 20px!important;
  }

  .nav-menu{
    top: 1.4rem;
    max-width: 56vh;
    gap: 0;
  }

  .drp_dwn_phone .name_img-wrp p{
    font-size: 8px;
    padding: 3px;
  }

  .name_img-wrp img{
    width: 17px;
    height: 17px;
  }

  .name_img-wrp{
    padding: 0px;
    padding-inline: 5px;
    flex-direction: row;
    text-align: left;
  }
  
  .drp_dwn_phone a,
  .drp_dwn_phone p{
    padding: 4px;
    padding-inline: 5px;
    font-size: 8px;
  }


  .nav-menu_body a{

    padding: 4px;
    padding-inline: 5px;
    font-size: 5px;
    text-align: center;
  }
}


.drop a{
  gap: 2px;
  display: flex;
  align-items: center;
}

