.carousel-wrap {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 7vh;
}

.carousel-wrap h1 {
  font-size: var(--larg-heading);
  margin: 0 auto;
  height: fit-content;
}

.carousel {
  width: 100%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.carousel-slide {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 60vh;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  position: relative;
}

.carousel::-webkit-scrollbar {
  height: 10px;
  margin-bottom: 20px;
}

.carousel::-webkit-scrollbar-track {
  background: #f3f3f3;
}

.carousel::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 5px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.carousel .button {
  position: absolute;
}

.carousel button:first-of-type {
  left: -100px;
}

.carousel button:last-of-type {
  right: -100px;
}

.carousel .button {
  background: none;
  outline: none;
  border: none;
}

.totry {
  position: relative;
  overflow: hidden;
  /* padding-top: 56.25%; */
}

.totry iframe {
  position: absolute;
  top: 0;
  right: -7px;
  width: 100%;
  height: 100%;
  overflow: visible;
  padding: 10px;
  border: none;
}

.before {
  content: "";
  width: 18px;
  height: 100%;
  background-color: white;
  position: absolute;
  display: block;
  right: 0;
  z-index: 6;
}
.finals-header {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.dev-info-wrapper {
  display: flex;
}

.dev-desc-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dev-info-wrapper,
.dev-desc-wrapper {
  width: 50%;
}

.name-position {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dev-info-wrapper img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  align-self: center;
  padding: 25px;
  object-fit: cover;
  flex-shrink: 0;
  image-resolution: from-image;
}

.part1-wrapper,
.part2-wrapper {
  display: flex;
  flex-direction: column;
}

.part1-wrapper {
  justify-content: space-between;
}

.part2-wrapper {
  gap: 13px;
}

.part2-wrapper p {
  max-height: 70px;
  overflow-y: scroll;
}



.part2-wrapper p::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  margin-bottom: 20px;
  display: block!important;
}

.part2-wrapper p::-webkit-scrollbar-track {
  background: #f3f3f3;
}

.part2-wrapper p::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 5px;
}

.part2-wrapper p::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.finals-header button {
  width: fit-content;
  border-radius: 100px;
  padding: 4px 13px;
  font-weight: 600;
  font-size: x-large;
  cursor: pointer;
}

.v-web {
  border: 3px solid #ababab;
  background: #ffffff;
  color: #ababab;
  transition: 0.2s all ease;
  border-radius: 100px;
}

.v-web:hover {
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
}

.v-cv {
  border: 3px solid var(--accent-color);
  background: var(--accent-color);
  color: white;
  transition: 0.2s all ease;
}

.v-cv:hover {
  background-color: white;
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
}

.finals-header h2 {
  font-size: calc(var(--medium-heading) - 3px);
}

.part2-wrapper h2 {
  font-weight: normal;
  border-bottom: 3px solid black;
  width: fit-content;
}

.finals-header p {
  font-size: var(--large);
  letter-spacing: 1px;
}

.finals-header p::-webkit-scrollbar{
  display: none;
}

.dev-desc-wrapper {
  gap: 7px;
}

.none {
  display: none;
}
@media all and (max-width: 1250px) {
  .finals-header h2 {
    font-size: var(--small-heading);
  }

  .finals-header p {
    font-size: calc(var(--large) - 1px);
    letter-spacing: 1px;
  }

  .dev-info-wrapper img {
    width: 160px;
    height: 160px;
  }
}

@media all and (max-width: 1050px) {
  .finals-header p {
    font-size: calc(var(--large) - 3px);
    letter-spacing: 1px;
  }
}

@media all and (max-width: 1000px) {
  .finals-header h2 {
    font-size: calc(var(--small-heading) - 3px);
  }

  .finals-header p {
    font-size: calc(var(--large) - 4px);
  }

  .finals-header button {
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 100px;
    padding: 4px 13px;
    font-weight: 600;
    font-size: var(--large);
    cursor: pointer;
  }

  .part2-wrapper {
    gap: 7px;
  }
}

@media all and (max-width: 970px) {
  .finals-header p {
    font-size: calc(var(--large) - 3px);
    letter-spacing: 1px;
  }

  .finals-header button {
    height: 40px;
    /* min-width: 160px; */
  }
}

@media all and (max-width: 850px) {
  .totry {
    display: none;
  }

  .carousel-slide {
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
  }

  .finals-header {
    flex-direction: column;
  }

  .dev-info-wrapper,
  .dev-desc-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dev-desc-wrapper {
    gap: 2vh;
  }
  .dev-info-wrapper img {
    width: 250px;
    height: 250px;
    padding: 15px;
  }

  .name-position {
    justify-content: center;
    align-items: center;
  }

  .name-position button {
    display: none;
  }

  .part1-wrapper,
  .part2-wrapper {
    text-align: center;
    align-items: center;
  }

  .part2-wrapper {
    gap: 13px;
  }
  .part1-wrapper h2 {
    font-size: var(--medium-heading);
  }

  .part2-wrapper h2 {
    font-size: var(--small-heading);
    border-bottom: none;
  }

  .part2-wrapper p {
    width: 85%;
  }
  .v-cv {
    display: none;
  }

  .none {
    display: block;
  }

  .none-wrapper {
    display: flex;
    gap: 20px;
  }
}

@media all and (max-width: 570px) {
  .dev-info-wrapper img {
    width: 160px;
    height: 160px;
  }

  .carousel-slide{
    max-height: 60vh;
  }
}


@media all and (max-width: 370px) {
  .carousel-slide{
    max-height: 55vh;
    min-height: 55vh;
  }
}
