#footer {
  background: linear-gradient(180deg, #10111C 0%, #060606 49.48%, #000000 100%);
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3vh;
  flex-direction: column;
  justify-content: center;
}

#footer > h1{
  color: #999;
  padding: 5vh;
  text-align: center;
  font-size: var(--larg-heading);
}
.sociallinks_mainer{
  position: relative;
  transform: skewY(-15deg) translateY(-50px);
}
.sociallinks_mainer h1{
  color: white;
}

.all_footer-wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social_ul{
transform: translate(45px, 60px);
}

.social_ul li{
  position: relative;
  list-style: none;
  width: 120px;
  background: #3e3f46;
  padding: 15px;
  transition: .5s;
  z-index: calc(1 * var(--j));
}


.social_ul a:focus{
  outline: none;
}

.social_ul a:focus li{
  transform: translateX(-50px);
  background: var(--clr);
}

.social_ul a:focus li::before{
  background: var(--clr);
  filter: brightness(0.7);
}

.social_ul a:focus li::after{
  background: var(--clr);
  filter: brightness(0.9);
}

.social_ul a:focus li span{
  opacity: 1;
}

.social_ul li:hover{
  transform: translateX(-50px);
  background: var(--clr);
}

.social_ul li:hover::before{
  background: var(--clr);
  filter: brightness(0.7);
}


.social_ul li:hover::after{
  background: var(--clr);
  filter: brightness(0.9);
}

.social_ul li:hover span{
  opacity: 1;
}

.social_ul li::before{
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #3e3f46;
  filter: brightness(0.7);
  transform-origin: right;
  transform: skewY(45deg);
  transition: .5s;
}


.social_ul li::after{
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #3e3f46;
  filter: brightness(0.9);
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: .5s;
}

.social_ul a{
  text-decoration: none;

}
.social_ul li p{
  color: #999;
  display: block;
  text-transform: uppercase!important;
  letter-spacing: 0.05em;
  transition: .5s;
}

.social_ul a:focus li p{
  color: #fff;
}

.social_ul a:first-of-type:focus p{
  color: #000000;
}
.social_ul li:hover p{
  color: #fff;
}

.social_ul a:first-of-type:hover p{
  color: #000000;
}

.social_ul a:last-of-type li::after{
  box-shadow: -120px 120px 20px rgba(255, 255, 255, 0.25);
}

.social_ul li span{
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  transform-origin: right;
  transform: skewY(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  font-size: 1.25em;
}

.social_ul li:hover span{
  opacity: 1;
}

.pages-links_container{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 20px;
}

.pages-links_container a{
  letter-spacing: 1px;
  text-decoration: none;
  transition: .3s all ease;
  color: #999;
}

.pages-links_container a:is(:hover, :focus){
  color: white;
  line-height: 20px;
  width: fit-content;
  border-bottom: 1px solid white;
}

.copy_right{
  color: rgb(61, 61, 61);
  margin-top: auto;
  margin-bottom: 15px;
  text-align: center;
}



.social_phone-links,
.social_wrp4header{
  display: none;
}

@media all and (max-width:900px) {
    .sociallinks_mainer{
      display: none;
    }

    #footer .pages-links_container{
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
    .social_wrp4header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 3vh;
    }
    .social_wrp4header h1{
      color: white;
    }

    .all_footer-wrap{
      flex-direction: column;
      gap: 10vh;
    }
    .social_phone-links{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      /* background-color: white; */
      overflow: hidden;
      display: grid;
      grid-gap: 7px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 47% 47.5%;
      padding: 1px;
    }
    
    
    .link-child{
      background-color: #3e3f46;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999;
      font-size: large;
      transition: .2s all ease;
      border-radius: 8px;
    }
    
    
    .link-child:hover{
      background-color: var(--clr);
      color: white;
      transform: scale(1.05);
    }
    .link-child:nth-of-type(1) i{
      margin-left: 20px;
      margin-top: 20px;
    }
    
    .link-child:nth-of-type(2):hover{
      color: black;
    }
    .link-child:nth-of-type(2) i{
      margin-left: -20px;
      margin-top: 20px;
    }
    
    .link-child:nth-of-type(3) i{
      margin-left: 20px;
      margin-top: -20px;
    }
    
    .link-child:nth-of-type(4) i{
      margin-left: -20px;
      margin-top: -20px;
    }
    #footer{
      padding: 30px;
    }

    .contact-hide{
      width: 100%;
    }

    #footer .contact-form{
      width: 100%;
    }

    .copy_right{
      color: rgb(61, 61, 61);
      margin-top: auto;
      margin-bottom: 0px;
    }
}


@media all and (max-width:682px){
  #footer > h1{
    font-size: calc(var(--small-heading) + 8px);
  }
}