.np-icon {
  transition: 0.3s ease;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
}

.np-icon:is(:hover) path {
  stroke: var(--accent-color);
}

.np-icon path {
  stroke: black;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transition: all 0.3s ease;
}

.carousel button:is(:hover) {
  outline: none;
}
.carousel button:is(:hover) .np-icon path {
  stroke: var(--accent-color);
}

.carousel button:is(:hover) .icon-f .arrow {
  animation: prev 0.6s linear;
}

.carousel button:is(:hover) .np-icon {
  box-shadow: 0px 0px 10px var(--accent-color);
}

.carousel button:is(:hover) .icon-s .arrow {
  animation: next 0.6s linear;
}

@keyframes prev {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes next {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 1073px) {
  .np-icon {
    width: 50px;
    height: 50px;
  }

  .carousel button:last-of-type {
    right: -65px;
  }

  .carousel button:first-of-type {
    left: -65px;
  }
}

@media screen and (max-width: 682px) {
  .carousel-wrap h1 {
    font-size: var(--small-heading);
  }

  .carousel button:last-of-type {
    right: -35px;
  }

  .carousel button:first-of-type {
    left: -35px;
  }
}

@media (max-width: 500px) {
  .part1-wrapper h2 {
    font-size: var(--small-heading);
  }

  .part2-wrapper h2 {
    font-size: var(--small-heading);
  }
  .finals-header p {
    font-size: calc(var(--large) - 4px);
    letter-spacing: 1px;
  }

  .finals-header button {
    height: 40px;
    font-size: var(--medium);
  }

  .none-wrapper {
    gap: 5px;
  }
}

@media all and (max-width: 430px) {
  .none button {
    min-width: fit-content;
  }
}
