.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop {
  display: flex;
}

.messageImg {
  border: 1px solid var(--primary-color);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: #1877f2;
  color: white;
  max-width: 300px;
  word-break: break-all;
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(255, 255, 255);
  color: black;
}


@media all and (max-width:590px){
  .messageText{
    max-width: 230px;
  }
}


@media all and (max-width:200px) {
  .messageText{
    font-size: 6px;
    padding: 4px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    text-align: center;
    border-radius: 10px;
  }
  
  .messageImg{
    width: 16px;
    margin-right: 3px;
    height: 16px;
  }
  
  .messageBottom{
    font-size: 4px;
    margin-top: 3px;
  }
}